<h1>投稿一覧</h1>

<table>
  <tr>
    <th>内容</th>
  </tr>

<% @heiheis.each do |heihei| %>
  <tr>
    <td><%= heihei.content %></td>
  </tr>
<% end %>

</table>
<%= link_to '新しくHeiheiを投稿する', new_heihei_path %>


